.header-content {
  height: 100vh;
}

.header-content .container.grid-2 {
  height: 100%;
  grid-template-columns: 2.5fr 3.5fr;
  padding-bottom: 2.5rem;
  text-align: left;
}

.header-title {
  font-size: 3.8rem;
  position: relative;
  font-weight: 600;
  background: linear-gradient(to right, #e84393, #ff7979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-content .text {
  margin: 2.15rem 0;
}

.header-content .image .img-element {
  max-width: 750px;
}
.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--main-color-hover);
}
.social {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 144px;
}
.social i {
  margin-right: 24px;
  font-size: 32px;
  color: var(--dark-two);
}
.social i:hover {
  color: var(--main-color);
}
